<div class="container-fluid" style="height: 100vh;">
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-sm-4 h-50">
            <div class="card text-dark shadow" style="border-radius: 20px;">
                <div class="card-header bg-primary text-center fw-bold text-white fs-3"
                    style="border-radius: 20px 20px 0 0; padding: 30px;">
                    Login</div>
                <div class="card-body" style="padding: 40px 60px 20px 60px;">
                    <form>
                        <div class="mb-3">
                            <label for="Username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="Username" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="Password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="Password">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                        </div>
                        <a href="/home/index" class="btn btn-dark">Login</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>